body, html {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul, li, a, h3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font: inherits;
}

.game {
  position: relative;
  width: 350px;
  /*padding: 50px;*/
  padding-top: 20px;
  margin: 0 auto;
  /*background-color: white;*/
}

.canvas-bg {
  position:absolute;
  display: block;
  width:
}

.page {
  position: absolute;
  z-index: -1;
  display: block;
  width: 101%;
  height: 101%;
  background-size: 100%;
  opacity: 0.18;
  min-height: 725px;
}

.page:after {
}

.title {
  margin: 0 auto;
  width: 400px;
}

.links {
  position: absolute;
  top: 4%;
  left: -153px;
  color: black;
  font-size: 36px;
  font-family: Berkshire Swash;
}

.game-options {
  position: absolute;
  background-color: #eee;
  min-height: 50px;
  min-width: 100px;
  top: 7%;
  right: -55%;
  padding: 10px 5px 10px 10px;
  border: 3px solid #78c042;
  font-family: Helvetica;
}

  .game-options > h3 {
    padding: 5px 6px 5px 5px;
  }

  .game-options > input {
    display: block;
    width: 135px;
  }

  .game-options > div {
    display: block;
    width: 100%;
    content: "";
    clear: both;
  }

  .game-options > div > span:first-child {
    float: left;
  }

  .game-options > div > span:nth-child(2) {
    float: right;
    margin-right: 5px;
  }

  .game > span {
    font-weight: bold;
    font-family: Helvetica;
  }
